body {
    background-color: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

#print {
    display: none !important;
}

.btn-submit {
    display: none !important;
}

.printArea .row .col-sm-6 {
    float: left !important;
    width: 20%;
}

.mrgn_tp_15 {
    float: left !important;
    width: 100% !important;
}

.fa-bars {
    display: none !important;
}

.mrgn_tp_15 {
    margin-left: 0px !important;
}

.brand {
    padding: 25px 30px 0px 55px !important;
    margin-left: 13px;
}

.brand img {
    width: 150px !important;
}

.def_4 {
    padding: 0px 30px 0px 50px !important;
    margin-top: 15px;
}

.form_box_lgn {
    padding: 0px 30px 15px 50px !important;
}